.news {
    background-image: url(../imgs/bg2.jpg);
    background-size: cover;
    .title {
        color: white;
    }
    &_img {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.news-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include sp {
        flex-direction: column;
    }
}

.news-item {
    width: 30.5%;
    background-color: white;
    box-shadow: 4px 4px 5px #00000029;
    @include sp {
        width: 100%;
        margin-bottom: 30px;
    }
}

.news-content {
    padding: 20px;
    &_day {
        font-size: 1rem;
        font-weight: bold;
        color: #191919;
    }
    &_title {
        @extend .news-content_day;
        font-size: 1.5rem;
    }
    &_text {
        font-size: 1.2rem;
        margin-top: 1.2em;
    }
}